.SidbarNavbar{
    color: var(--default-color);
    background-color: #040b14;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 15px;
    width: 300px;
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    border-right: 1px solid 
color-mix(in srgb, var(--default-color), transparent 90%);
}
.iconSidbar{
    background-color:#495057;
    font-size:20px;
    display:flex;
    justify-content:center;
    width:38px;
    height:38px;
    border-radius:50%;
    align-items:center;
    text-align:center;
}
.iconSidbar:hover{
    background-color: #149ddd;
}
.textSidbar:hover{
    color: #fff;
}
.iconNavbar:hover{
    color: #149ddd;
}
.navbar-nav{
    display: flex;
    flex-direction:column;
}

.nav-item a{
all: unset;
list-style-type: none;

}
.navbar-nav li{
    text-decoration:none;
    color: #6f6f6f;
    list-style-type: none;
    font-size: 19px;
}

.navbar-nav li:hover{
    color: #fff;
}