.AboutState{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
  width: 53%;
  margin: auto;
  padding-bottom: 50px;
}
.AboutItem{
    padding: 11px;
}

.AboutHeader::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #149ddd;
    left:0;
    top:15%;
}
.AboutCountState{
  position:absolute;
  left: 25%;
  padding-bottom: 60px;
}